<div class="card w-50 mx-auto rounded">
    <h1 class="card-title text-center border-bottom mb-4 pb-2 bg-secondary text-white rounded-top"><%=  t('session.sign_up') %></h1>
    <div class="card-body text-center">
    <%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
      <div id="error_explanation">
          <ul class="list-group mb-2">
              <% user.errors.each do |error| %>
                  <li class="list-group-item list-group-item-danger">
                      <%= error.full_message %>
                  </li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>


  <div class="form-group">
      <%= form.submit class: "btn btn-primary w-100 mt-2" %>
  </div>
    <% end %>
    <%= link_to(t("session.registered"), log_in_path, class: "link-primary") %>

    </div>
</div>
