<div class="bg-light p-5 rounded-lg m-3 border border-dark">
    <h1 class="display-4 text-center">
        <%= @book.name %>
    </h1>
    <hr class="my-4">
    <div class="card mb-3 border-0" style="background-color: #f8f9fa;">
        <div class="row g-3">
            <div class="col-md-4">
                <% if @book.cover.attached? %>
                    <%= image_tag(@book.cover, width: 300,
                                  height: 400) %>
                <% else %>
                    <%= image_tag(image_path("cover_missing.png"),
                                  class: "card-img-top",
                                  width: 300,
                                  height: 400) %>
                <% end %>
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h5 class="card-title">
                        <%= @book.authors %>
                    </h5>
                    <p class="card-text">
                        <%= @book.annotation %>
                    </p>
                </div>
                <%= link_to t("books.edit"), edit_book_path(@book) %> |
                <%= link_to t("books.back"), books_path %>
            </div>
        </div>
    </div>
</div>
