<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @book.annotation %>
</p>

<p>
    <strong>Cover:</strong>
    <% if @book.cover.attached? %>
        <%= image_tag(@book.cover, {
            :class => "img-thumbnail rounded"
        }) %>
    <% else %>
        <%= image_tag(image_path("cover_missing.png"),
                      class: "card-img-top",
                      width: 100,
                      height: 400) %>
    <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
