<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @book.annotation %>
</p>

<p>
    <strong>Cover:</strong>
    <% if @book.cover.attached? %>
        <%= image_tag(@book.cover, {
            :class => "img-thumbnail rounded"
        }) %>
    <% else %>
        <p>No image</p>
    <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
